############### 算法参数 ###############
# 灰度阈值
#ScanGrayThresh = 40
# 多包裹检测
#ScanMultPackageFlag = 0
# 多包裹实时输出
#ScanPackageInTimeFlag = 0

############### 相机参数 ###############
# 曝光时间
#CamExposure = 1500
# 增益
#CamGain = 3
# Gamma
#CamGamma = 1